/* overall app styling */
.jgd-app {
  font-family: 'Roboto';
}

/* emboldened components */
.jgd-bold {
  font-weight: bolder;
  font-size: 1.2rem;
}

/* clickable components */
.jgd-pointer {
  cursor: pointer;
}

/* "helpful?" component once clicked */
.jgd-helpful {
  color: blue;
}

/* "report" component once clicked */
.jgd-reported {
  color: red;
}