/* overall app styling */
.jgd-app {
  font-family: 'Roboto';
}

/* emboldened components */
.jgd-large-bold {
  font-weight: bolder;
  font-size: 1.2rem;
}

/* clickable components */
.jgd-pointer {
  cursor: pointer;
}

/* "helpful?" component once clicked */
.jgd-helpful {
  color: blue;
}

/* "report" component once clicked */
.jgd-reported {
  color: red;
}

/* small informational text */
.jgd-small-text {
  font-size: small;
}

/* large text */
.jgd-xlarge-text {
  font-size: x-large;
}

/* middle vertical allignment */
.jgd-middle-vertical {
  vertical-align: middle;
}

/* small bold text */
.jgd-small-bold {
  font-weight: bolder;
}

/* spaces out elements */
.jgd-divider {
  margin-left: 10px;
  margin-right: 10px;
}

/* more transparent components */
.jgd-faded {
  color: #2125298c;
}

/* less transparent components*/
.jgd-grey {
  color: #5e5e5b;
}

/* sharp edge components */
.jgd-sharp-edge {
  border-radius: 0px;
}

/* large button padding */
.jgd-large-padded {
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 20px;
  padding-right: 20px;
}

/* button inner icon padding */
.jgd-left-padded {
  padding-left: 20px;
}