/* overall app styling */
.jgd-app {
  font-family: 'Roboto';
}

/* emboldened components */
.jgd-large-bold {
  font-weight: bolder;
  font-size: 1.2rem;
}

/* clickable components */
.jgd-pointer {
  cursor: pointer;
}

/* "helpful?" component once clicked */
.jgd-helpful {
  color: blue;
}

/* text once hovered over is underlined */
.hover-underline:hover {
  text-decoration: underline;
}

/* "report" component once clicked */
.jgd-reported {
  color: red;
}

/* small informational text */
.jgd-small-text {
  font-size: small;
}

/* x-large text */
.jgd-xlarge-text {
  font-size: x-large;
}

/* large text */
.jgd-larger-text {
  font-size: larger;
}

/* middle vertical allignment */
.jgd-middle-vertical {
  vertical-align: middle;
}

/* small bold text */
.jgd-small-bold {
  font-weight: bolder;
}

/* spaces out elements */
.jgd-divider {
  margin-left: 10px;
  margin-right: 10px;
}

/* more transparent components */
.jgd-faded {
  color: #2125298c;
}

/* less transparent components*/
.jgd-grey {
  color: #5e5e5b;
}

/* sharp edge components */
.jgd-sharp-edge {
  border-radius: 0px;
}

/* large button padding */
.jgd-large-padded {
  padding: 20px;
}

/* button inner icon padding */
.jgd-left-padded {
  padding-left: 20px;
}

.jgd-less-left-padded {
  padding-left: 16px;
}

/* solid 1px border */
.jgd-solid-border {
  border: solid 1px;
}

/* magnifying glass search icon */
.jgd-magnifying-glass {
  margin: 0;
  position: absolute;
  left: 50%;
  top: 55%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* get that border out of here */
.jgd-no-border {
  border: none;
}

/* turns off blue outline of active inputs */
.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* vertical spacing of components */
.jgd-component-space {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* top-most component */
.jgd-top-space {
  margin-top: 30px;
}

/* bottom-most component */
.jgd-bottom-space {
  margin-bottom: 30px;
}

/* used in load more answers btn */
.jgd-less-bottom-space {
  margin-bottom: 20px;
}

/* used in load more answers btn */
.jgd-set-width {
  width: 150px;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}